.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 500px;
  margin-bottom: 20px; /* Add space between cards */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.icon {
  font-size: 50px; /* Adjust size as needed */
  color: var(--color-primary); /* Set the color you want */
  margin-bottom: 16px;
  transition: color 0.3s ease-in-out; /* Smooth transition */
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

/* Glowing effect on hover */
.container:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Enhanced glow */
}

.container:hover .icon {
  color: rgba(255, 255, 255, 0.8); /* Glow effect for the icon */
}
